.image-sidebar {
    background-image: url(images/welding.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    font-family: 'Calistoga', cursive;
    filter: invert(100%);
}

.logo-text {
    font-size: 48px;
    color: white;
}

.photo-credit {
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 10px;
}

body {
    display: flex;
}