:root {
    --textcolor: rgb(204, 193, 193);
    --header: 80px;
    --footer: 80px;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
}

* {
    color: var(--textcolor);
}

.image-sidebar {
    background-color: rgb(19, 14, 14);
    background-image: url(images/welding.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    font-family: 'Calistoga', cursive;
    filter: invert(100%);
}

.logo-text {
    font-size: 48px;
    color: var(--textcolor);
}

.photo-credit {
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 10px;
}

body {
    display: flex;
}

.form-section {
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 14, 14);
    color: var(--textcolor);
    justify-content: center;
    height: 100vh;
}

.top-container {
    padding: 30px;
}

.middle-container {
    background-color: rgb(26, 24, 24);
    padding: 30px;
    height: var(--main);
}

.bottom-container {
    padding: 30px;
}

.top-container>h1{
    margin-bottom: 15px;
}

.middle-container h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 500px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 5px;
}

.form-row input {
    background-color: rgb(19, 14, 14);
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
}

input:focus {
    box-shadow: 1px 1px white;
}

.form-row input:invalid:not(:focus):not(:placeholder-shown) {
    background-color: rgb(48, 6, 6);
    border: 1px solid rgb(145, 0, 0);
}

@media only screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .image-sidebar {
        height: 120px;
        width: 100vw;
    }
    .logo-container {
        position: static;
        margin-top: 1.5rem;
    }
    .photo-credit {
        position: relative;
        top: 10px;
    }
    .middle-container {
        height: auto;
    }
    .form-section {
        display: block;
        height: auto;
        width: 100vw;
        text-align: center;
    }
    form {
        justify-content: center;
        max-width: 200px;
        margin: auto;
    }
    .form-row {
        margin-right: 0;
        margin-bottom: 25px;
    }
}